{% assign posts = site.posts | where: "categories", "boletim_post" | sort: "date" | reverse | limit:4 %}

<h3>Outros posts</h3>

<div class="boletim-post-recomendacoes">
  {% for post in posts limit:4 %}
    {% if page.id != post.id %}
    <a href="{{ site.url }}{{ post.url }}" class="boletim-post-recomendacao">
      <div class="boletim-post-recomendacao-capa" style="background-image: url('{{ site.urlImagens }}/boletim/posts/{{ post.identificador }}/capa.jpg')">
      </div>
      <div class="boletim-post-recomendacao-conteudo">
        <div class="boletim-post-recomendacao-titulo">
          {% if post.subtitle %}
          {{ post.title }}: {{ post.subtitle }}
          {% else %}
          {{ post.title }}
          {% endif %}
        </div>
        <div class="boletim-post-recomendacao-resumo">
          {{ post.resumo }}
        </div>
        
        <div class="boletim-post-recomendacao-data">
          <i class="fa-regular fa-calendar"></i> {{ post.data }}
        </div>
        <div class="boletim-post-recomendacao-autoria">
          Por <b>{{ post.autoria }}</b>
        </div>
      </div>
    </a>
    {% endif %}
  {% endfor %}
</div>