<!doctype html>
<html class="no-js" lang="pt-br" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>
</head>
<body>
    {% include menu.html %}

    <main class="wrapper">
        
        <div class="menu">
            <div class="menu-hamburger"></div>
        </div>

        {% include header.html %}
        
        <section class="container">
            {{ content }}
        </section>
        
        {% include footer.html %}
    </main>

    {% include js_pos.html %}
</body>
</html>
