<!doctype html>
<html class="no-js" lang="pt-br" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <title>Pentágono das Exatas</title>
    {% include head.html %}
    <meta property="og:type" content="website"/>

    <link rel="stylesheet" href="{{ site.url }}/css/boletim.css">
    <link rel="stylesheet" href="{{ site.url }}/css/boletim_post.css">
</head>

<body>
    {% include menu.html %}
    
    <main class="wrapper l-page" style="background-color: white;">
        <div class="menu">
            <div class="menu-hamburger"></div>
        </div>

        {% include header.html %}
        
        <header id="home" class="header" role="banner">
            <section class="container capa-logo" style="fill: #8B7AA0;">
                {% include logo.svg %}
            </section>
        </header>
        
        <section id="oque" class="container" style="padding-top: 0px">
            {{ content }}

            <h3 id="navegação">
                <a class="anchor" href="#navegação" aria-hidden="true"></a>
                Navegação
            </h3>
            <ul>
                {% for page in pages %}
                {% if page.title %}
                {%- unless page.title contains 'Página' -%}
                <li>
                    <a href="{{ site.url }}{{ page.url | relative_url }}">
                        {{ page.title | escape }}
                    </a>
                </li>
                {%- endunless -%}
                {% endif %}
                {% endfor %}
            </ul>
        </section>
           
        <section id="informes" class="container"  style="padding-top: 3rem;">
            <h2>
                <a class="anchor" href="#informes" aria-hidden="true"></a>
                Blog
            </h2>

            <div class="boletim-post-recomendacoes">
              {% assign posts = site.posts | where: "categories", "boletim_post" | sort: 'date' | reverse %}
              {% for post in paginator.posts limit:5 %}
                {% if page.id != post.id %}
                <a href="{{ site.url }}{{ post.url }}" class="boletim-post-recomendacao">
                  <div class="boletim-post-recomendacao-capa" style="background-image: url('{{ site.urlImagens }}/boletim/posts/{{ post.identificador }}/capa.jpg')">
                  </div>
                  <div class="boletim-post-recomendacao-conteudo">
                    <div class="boletim-post-recomendacao-titulo">
                      {% if post.subtitle %}
                      {{ post.title }}: {{ post.subtitle }}
                      {% else %}
                      {{ post.title }}
                      {% endif %}
                    </div>
                    <div class="boletim-post-recomendacao-tags">
                      {% for tag in post.tags %}
                        <div class="boletim-post-recomendacao-tag boletim-post-tag-{{ tag }}">
                          {{ tag }}
                        </div>
                      {% endfor %}
                    </div>
                    <div class="boletim-post-recomendacao-resumo">
                      {{ post.resumo }}
                    </div>
                    
                    <div class="boletim-post-recomendacao-data">
                      <i class="fa-regular fa-calendar"></i> {{ post.data }}
                    </div>
                    <div class="boletim-post-recomendacao-autoria">
                      Por <b>{{ post.autoria }}</b>
                    </div>
                  </div>
                </a>
                {% endif %}
              {% endfor %}
            </div>
            
            <br>

            <div>
                <a class="button" href="{{ site.url }}/blog">
                    Ver mais
                </a>
            </div>

        </section>
            
        {% include contacts.html %}

        {% include footer.html %}
    </main>

    {% include js_pos.html %}
</body>
</html>
